/* Add styling for your page here */

.App {
    background-color: azure;
    display: flex;
    justify-content: center;
}

.MenuWrapper {
    display: flex;
    max-width: 50%;
    
}

.BakeryItem {
  display: flex;
  max-width: 30%;
  justify-content: center;
  margin: 2rem;
  flex-wrap: wrap;
}