/* Add styling for your page here */


.App {
    /* background-color: azure; */
    /* display: flex; */
    justify-content: center;
    margin: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

.MenuWrapper {
    display: flex;
    max-width: 50%;
    justify-content: center;
    flex-wrap: wrap;
}

.BakerItem {
  text-align: center;
  margin: 2rem;
  max-width: 30%;
}