/* Add styling for your page here */


.App {
    /* background-color: azure; */
    /* display: flex; */
    justify-content: center;
    margin: 2rem;
}

.MenuWrapper {
    display: flex;
    max-width: 50%;
    justify-content: center;
    flex-wrap: wrap;
}

.BakeryItem {
  justify-content: center;
  margin: 2rem;
}